body {
    margin: 0;
}

.scoreapp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #000;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #fff;
}

.players-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #333;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    background-color: #333;
}

.player-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #fff;
}

button {
    background-color: #333;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.8rem;
    color: #fff;
    cursor: pointer;
}

.score-input {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
    font-size: 1rem;
    color: #fff;
}

input {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #333;
}

.additional-points label {
    margin-right: 10px;
    font-size: 1rem;
    color: #fff;
}

.additional-points input {
    font-size: 1rem;
    color: #fff;
    background-color: #333;
}

.additional-points button {
    font-size: 1rem;
    padding: 5px 8px;
    background-color: #333;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}

.new-player-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.new-player-form input {
    border: none;
    border-bottom: 1px solid #fff;
    padding: 10px;
    font-size: 1rem;
    margin-right: 10px;
    color: #fff;
    background-color: #333;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #333;
}

.new-player-form button {
    background-color: #333;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.8rem;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 15px;
    padding: 8px;
    border: 1px solid #333;
}

@media (max-width: 768px) {
    .players-container {
        flex-direction: column;
        align-items: center;
    }
    .player {
        margin-bottom: 20px;
    }
}

.center {
    display: flex;
    justify-content: space-between;
}

.plus {
    margin-top: 15px;
    /* border-radius: 20px; */
    padding: 15px;
    width: 30px;
}

.plus:hover {
    background-color: green;
    border: 1px solid green;
}

.sub {
    margin-top: 15px;
}

.sub:hover {
    background-color: red;
    border: 1px solid red;
}